<form ng-submit="ctrl.saveProfile()">
  <fieldset class="form-group">
    <label class="col-md-2">Username</label>
    <input type="text" class="col-md-2" ng-model="ctrl.profileInfo.username" ng-required="true"/>
  </fieldset>
  <fieldset class="form-group">
    <label class="col-md-2">Password</label>
    <input type="password" class="col-md-2" ng-model="ctrl.profileInfo.password" ng-required="true"/>
  </fieldset>
  <fieldset class="form-group">
    <label class="col-md-2">email</label>
    <input type="text" class="col-md-2" ng-model="ctrl.profileInfo.email" ng-required="true"/>
  </fieldset>
  <button type="submit" class="btn btn-primary">save profile</button>
</form>
